.home_section {
    background: linear-gradient(45deg, #00072f, #013685);
    margin-top: -2%;
    height: 400px;
    margin-bottom: 20px;
    border-bottom-left-radius: 10% 30% 60%;
    border-bottom-right-radius: 100% 70%;
    // overflow: hidden; 
}

.divsection{
    display: flex;
    justify-content: space-between;
}

.valuediv p{
    color: #fff;
    padding: 10px 30px;
    margin: 10px;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 300;
}

.sm p{
    font-size: 12px;
}

.get a{
    text-decoration: none;
    padding: 10px;
    margin: 10px 40px;
    color: #060818;
    background: white;
    border-radius: 10px;
}

.imgdiv{
    margin-right: 12%;
    margin-top: -1%;
}

.imgdiv img{
    width: 100%;
}
