.landingNavbar {
    background: black;
  display: flex;
  align-items: center;
  // height: 20px;
//   justify-content: space-around;
  // padding: 0.6rem 7%;
  padding: 10px 0px;
  margin: 0;
  color: #fff !important;
  box-sizing: border-box;

  .logo.left {
    display: flex;
    align-items: center;
  }
  .logo.left img {
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 8px;
  }
  .right {
    display: flex;
    margin-left: 20%;
  }

  .link_left{
    margin: 10px;
    text-decoration: none;
    color: #fff; 
    margin-top: -1%;
    margin-left: 40%;
    background: #1e2875;
    padding: 10px;
    border-radius: 10px;
    
  }
  .landingNavbar .link_nav{
    align-items: center;
    text-align: center; 
    padding: 10px;
  }
  .link_nav{
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }



//   .link_nav {
//     border: 1px solid;
//     border-radius: 0.5rem;
//     border: 1px solid #1e2875;
//     font-size: 1.4rem;
//     color: #1e2875;
//     display: inline-flex;
//     text-decoration: none;
//     width: 8rem;
//     justify-content: center;
//     height: 2.5rem;
//     align-items: center;
//   }
//   .link_nav:nth-child(3) {
//     width: 16rem;
//     background-color: #1e2875;
//     color: white;
//   }
//   .link_nav:hover {
//     background: #1e2875;
//     color: white;
//     transition: all 0.5s ease;
//     cursor: pointer;
//   }
//   .link_nav:nth-child(3):hover {
//     color: #1e2875;
//     background: white;
//     transition: all 0.5s ease;
//     cursor: pointer;
//   }
}
@media (max-width: 830px) {
  .landingNavbar {
    h2 {
      font-size: 1.5rem;
    }
    .link_nav {
      width: 7rem;
      justify-content: center;
      height: 2.5rem;
    }
    .link_nav:nth-child(3) {
      width: 14rem;
    }
  }
}
